#pic-frame{

	display: block;
	width: 100%;
	height: 380px;
	background-image: url(/assets/images/avatar.png);
	background-position: top;
	background-repeat: no-repeat;
}

.green-bkg{
	background: #d2ff52; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #d2ff52 0%, #3bce12 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#d2ff52), color-stop(100%,#3bce12)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #d2ff52 0%,#3bce12 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #d2ff52 0%,#3bce12 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #d2ff52 0%,#3bce12 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #d2ff52 0%,#3bce12 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#3bce12',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#level{
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(/assets/images/circle.png);
	background-size: contain;
	font-size: 22pt;
	line-height: 38pt;
}