@(color: String)

@main(color) {
<div class="container">

	<div class="row">
		<div class="col-xs-12 green-bkg">
			<div class="row">
				<div class="col-xs-1 col-xs-offset-1">
					<span class="text-center" id="level">5</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-9 col-xs-offset-1">
					<div class="row">
						<div class="col-xs-12">Marcello Steiner</div>
						<div class="col-xs-12">
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
									<span class="sr-only">60% Complete (warning)</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<span id="pic-frame"></span>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Time Aliens</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a href="@routes.MainController.missions(color)"><span class="icon" id="mission"></span>Missions</a>
				</li>
				<li class="divider"><hr/></li>
				<li>
					<a href="#">
						<span class="icon" id="facebook"></span>
						Facebook
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon" id="twitter"></span>
						Twitter
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon" id="gplus"></span>
						Google +
					</a>
				</li>
				<li class="divider"><hr/></li>
				<li>
					<a href="">
						<span id="setting" class="icon"></span>
						Settings
					</a>
				</li>

			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>

	<a href="@routes.MainController.mission1(color)">
		<div id="mission-plc">
			<h3>Current active mission</h3>
			<p>Eat breakfast</p>
		</div>
	</a>

	<script type="text/javascript">
		const canvas = $("#pic-frame");
		const pageHeight = $(document).height();
		const pageWidth = $(document).width();
		canvas.css("height", (pageHeight-110)+"px");


		const mission = $("#mission-plc");
		mission.css("top", pageHeight- 200);
		mission.css("left", (pageWidth-mission.width())/2);

	</script>

</div>
}