@(color: String)

@main(color) {
<script>
function success(position) {
  var mapcanvas = document.createElement('div');
  mapcanvas.id = 'mapcontainer';
  mapcanvas.style.height = ($(document).height()-80)+"px";
  mapcanvas.style.width = $(document).width()+"px";

  document.querySelector('body').appendChild(mapcanvas);

  var coords = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  
  var options = {
    zoom: 12,
    center: coords,
    mapTypeControl: false,
    navigationControlOptions: {
    	style: google.maps.NavigationControlStyle.SMALL
    },
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("mapcontainer"), options);

  var marker = new google.maps.Marker({
      position: coords,
      map: map,
      title:"You are here!"
  });


  var circleOptions = {
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 0,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      center: coords,
      radius: 1000,
  };

  circle = new google.maps.Circle(circleOptions);



}

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success);
} else {
  error('Geo Location is not supported');
}

</script>
<div class="indication">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">GOAL:</div>
      <div class="col-xs-9">Walk outside the circle</div>
    </div>
    <div class="row">
      <div class="col-xs-3">TIME REMAINING:</div>
      <div class="col-xs-9" id="countdown">1h 00m 00s</div>
    </div>
  </div>
</div>
<script type="text/javascript">
  const countdown = $("#countdown");

  function countDown(){

  var str = countdown.text();
  var values = str.split(" ");
  var hours = parseInt(values[0]);
  var min = parseInt(values[1]);
  var sec = parseInt(values[2]);

  var totalTime = 3600 * hours + 60 * min + sec -1;

  hours = Math.floor(totalTime / 3600);
  min = Math.floor((totalTime % 3600) / 60);
  sec = Math.floor((totalTime % 3600) % 60);

  countdown.text(hours+"h "+ min+"m "+ sec+"s ");

  return setTimeout(countDown, 1000);

  }

  countDown();

</script>
}