@main("Welcome to Play Framework") {

<div class="container">

  <div class="row">
    <div class="col-xs-6">
      <h3>Missions</h3><h5>Today, 11/1</h5>
    </div>
    <div class="col-xs-6">
      <h3>Jonas <span class="glyphicon glyphicon-user"></span></h3> <h5>Level 5</h5>
    </div>
  </div>
  <div clas="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#">Missions</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Friends <span class="badge">4</span></a></li>
      </ul>
  </div>

  <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#"><span class="glyphicon glyphicon-cutlery"></span> Time mission! Eat breakfast between 07.00-08.00</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-globe"></span> Walking mission! Walk 1 km</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-camera"></span> Take picture mission! Find a tree and take a picture of it</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-cutlery"></span> Time mission! Eat lunch between 12.00-13.00</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-globe"></span> Navigation mission! Go from A to B</a></li>
        </ul>
      </div>
  </div>
  
</div>

}