@(color: String)
@main(color) {
<div class="container">

  <div class="row">
    <div class="col-xs-6">
      <h3>Missions</h3>
      <h5>Today, 11/1</h5>
    </div>
    <div class="col-xs-6">
      <h3>
        Jonas
        <span class="glyphicon glyphicon-user"></span>
      </h3>
      <h5>Level 5</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel-group" id="accordion">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="glyphicon glyphicon-cutlery"></span>
                Time mission! Eat breakfast between 07.00-08.00
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-5">GOAL:</div>
                <div class="col-xs-7">Eat the healty food before aliens arrive</div>
              </div>
              <div class="row">
                <div class="col-xs-5">TIME FRAME:</div>
                <div class="col-xs-7">07.00 - 08.00</div>
              </div>
              <div class="row">
                <div class="col-xs-5">EXPERIENCE GAINED:</div>
                <div class="col-xs-7">100XP POINTS</div>
              </div>
              <div class="row">
                <div class="col-xs-12 text-right">
                  <a href="@routes.MainController.mission1(color)" class="btn btn-success">Start the mission</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <span class="glyphicon glyphicon-cutlery"></span>
                Aliens are attacking!! Escape for 1KM to be safe
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-5">GOAL:</div>
                <div class="col-xs-7">Escape the attack area by walking or running!</div>
              </div>
              <div class="row">
                <div class="col-xs-5">TIME FRAME:</div>
                <div class="col-xs-7">30 Minutes</div>
              </div>
              <div class="row">
                <div class="col-xs-5">EXPERIENCE GAINED:</div>
                <div class="col-xs-7">50XP POINTS</div>
              </div>
              <div class="row">
                <div class="col-xs-12 text-right">
                  <a href="@routes.MainController.map(color)" class="btn btn-success">Start the mission</a>
                </div>
              </div>
            </div>
            </div>
          </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <span class="glyphicon glyphicon-cutlery"></span>
                Exercise mission! Exercise as indicate to strenghten your defense
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-5">GOAL:</div>
                <div class="col-xs-7">Do 15 pushups</div>
              </div>
              <div class="row">
                <div class="col-xs-5">TIME FRAME:</div>
                <div class="col-xs-7">NO LIMIT</div>
              </div>
              <div class="row">
                <div class="col-xs-5">EXPERIENCE GAINED:</div>
                <div class="col-xs-7">50XP POINTS</div>
              </div>
              <div class="row">
                <div class="col-xs-12 text-right">
                  <a href="#" class="btn btn-success">Start the mission</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                <span class="glyphicon glyphicon-cutlery"></span>
                Time mission! Eat breakfast between 07.00-08.00
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-5">GOAL:</div>
                <div class="col-xs-7">Escape the attack area by walking or running!</div>
              </div>
              <div class="row">
                <div class="col-xs-5">TIME FRAME:</div>
                <div class="col-xs-7">30 Minutes</div>
              </div>
              <div class="row">
                <div class="col-xs-5">EXPERIENCE GAINED:</div>
                <div class="col-xs-7">50XP POINTS</div>
              </div>
              <div class="row">
                <div class="col-xs-12 text-right">
                  <a href="#" class="btn btn-success">Start the mission</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                <span class="glyphicon glyphicon-cutlery"></span>
                Reach the safe house!
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-5">GOAL:</div>
                <div class="col-xs-7">Reach the safe house shown in the map</div>
              </div>
              <div class="row">
                <div class="col-xs-5">TIME FRAME:</div>
                <div class="col-xs-7">45 Minutes</div>
              </div>
              <div class="row">
                <div class="col-xs-5">EXPERIENCE GAINED:</div>
                <div class="col-xs-7">50XP POINTS</div>
              </div>
              <div class="row">
                <div class="col-xs-12 text-right">
                  <a href="@routes.MainController.mapP2P(color)" class="btn btn-success">Start the mission</a>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>

      </div>
      
  </div>
</div>


}