@(color: String)

@main(color) {
<div class="container">
  <div class="row">
    <div class="col-xs-12 green-bkg text-center">
      <div class="box">
        <h3>Time mission</h3>
        <h4>Goal: Eat breakfast between 07:00-08:00</h4>
        <br>
        <h4>Take an image of your meal to complete this mission!</h4>
      </div>
      <img src="/assets/images/add-image-256.png">
    </div>
  </div>
</div>

<script type="text/javascript">
  /*const canvas = $(".box");
    const pageHeight = $(document).height();
    canvas.css("height", pageHeight+"px");*/
</script>


}
