@(color: String)

@main(color) {
<div class="container">
	<span class="underlined">Level 1. The Invasion has began!!</span>
	<p class="justified">
		During a pacific and lazy afternoon the tranquillity of the sofa+television was broken by a loud and terryfing noise coming from the sky. Curios as always, you decided to go outside to have a better look at what was happening...
	</p>
	<span class="underlined">Level 2. What is that???</span>
	<p class="justified">
		Walking torward the door you noticed something weird.  The light filtering through the curtains was inusually cremisi. Even more curious, you dashed to reach the door and get a better look at the sky. While raising your head the heat coming from above forced you to raise your hand to create a shelter for your face. From between your fingers you could see the post-burners of a huge ship.
	</p>
	<span class="underlined">Level 3. The first encounter with the Time Aliens</span>
	<p class="justified">
		After your pupils shut to adapt to the strong light you saw something else. A swarm of smaller ships goes out of the belly of the metal giant which is still suspended in the sky. One of these went straight torwards you. As soon as it landed you saw through the transparent cockpit a life form that, with all certainity doesn't belong to this planet...
	</p>
</div>
}